*{
	margin: 0;
	padding:0;
}
.pagehead{
	background: black;
	width: 100vw;
	height: 100vh;
	transition: 2s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	//transition: background 2s;
}
.pagehead div{
	text-align: center;
}
#typedmsg{
	visibility: hidden;
	width: 76em;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	//animation: typethis 5s steps(76,end);
}
.typed{
	display: flex;
	justify-content: center;
}
@keyframes typethis{
	from{width: 0;}
}